{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		<title>Rafael Dutra | Computer Engineer</title>

		<!-- Fonts Awesome -->
		<script src="https://use.fontawesome.com/5109c6afa4.js"></script>

		<link href="{% static 'css/custom.css' %}" rel="stylesheet">
		<!-- Devicon -->
		<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">


	</head>
	<body>
		<header>
			<img src="{% static 'img/profile.jpg' %}" class="profile-pic" alt="Rafael Dutra | Computer Engineer">
			<h1> Hello..!</h1>
			<p>I'm Rafael Dutra, Computer Engineer</p>
		</header>

		<div class="aboutMe">
			<h1>About Me</h1>
			<i class="fa fa-user fa-2x" aria-hidden="true"></i>
			<p class="info">Recently graduated in Computer Engineering by Federal University of Pelotas, I am searching for new challenges and opportunities to grow as a person and professional, and I choose SAP to start this challenges.</p>
			
			<div class="education">
				<h1>Education</h1>
				<i class="fa fa-book fa-2x" aria-hidden="true"></i>
				<div class="graduation">
					<h3>Bachalor Degree of Computer Engineer</h3>
					<h4>Federal University of Pelotas</h4>
					<h5>2011-2015</h5>
				</div>
				
			</div>
		</div>


		<div class="skills">
			<h1>Skills</h1>
			<i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
			<ul>
				<li class="python">
					<i class="devicon-python-plain-wordmark"></i
				</li>
				<li class="django">
					<i class="devicon-django-plain-wordmark"></i
				</li>
				<li>
					<i class="devicon-mongodb-plain-wordmark"></i>
				</li>
			</ul>
		</div>

		<div class="contact">
			<h1>Contact</h1>
			<i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
			<h3 id="question">Need to talk with me?</h3>
			<address>
				Pelotas, RS, Brazil
				<br>
				<br>
				<a href="tel:xx5381587556">(xx53) 8158 7556</a>
				<br>
				<br>
				<a href="mailto:dutrasr@gmail.com">dutrasr@gmail.com</a>
			</address>

			<ul>
				<li>
					<a class="fb" href="https://www.facebook.com/rafael.dutra.94009">
						<span class="fa-stack fa-lg fa-3x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
					</a>
					
				</li>
				<li>
					<a class="in" href="https://www.linkedin.com/in/rafael-dutra-1bb140b7">
						<span class="fa-stack fa-lg fa-3x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
				<li>
					<a class="git" ="https://github.com/dutrasr">
						<span class="fa-stack fa-lg fa-3x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
			</ul>
		</div>

		<footer>
			<h4>Desenvolvido por Rafael Dutra.</h4>
		</footer>

	</body>
</html>